<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">

    <title>Hello, world!</title>
  </head>
  <body>
   



<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">  
    <div class="main">
      <div class="btn-group-vertical ml-4 mt-4" role="group" aria-label="Basic example">
        <div class="btn-group">
            <input class="text-center form-control-lg mb-2" id="code" onclick="clear();">
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-lg btn-lg py-3" onclick=" press(7);">7</button>
          <button type="button" class="btn btn-primary btn-lg py-3" onclick="press(8);">8</button>
          <button type="button" class="btn btn-primary btn-lg py-3" onclick="press(9);">9</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg py-3" onclick="press(4)";>4</button>
            <button type="button" class="btn btn-primary btn-lg py-3" onclick="press(5)";>5</button>
            <button type="button" class="btn btn-primary btn-lg py-3" onclick="press(6)";>6</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary btn-lg py-3" onclick="press(1);">1</button>
          <button type="button" class="btn btn-primary btn-lg py-3" onclick="press(2);">2</button>
          <button type="button" class="btn btn-primary btn-lg py-3" onclick="press(3);">3</button>
        </div> 
        <div class="btn-group">
            <button type="button" class="btn btn-info py-3" onclick="press('.');">•&nbsp;</button>
            <button type="button" class="btn btn-primary py-3" onclick="press(0)">0</button>
            <button type="button" class="btn btn-danger  py-3" onclick="clearCode()">X</button>
        </div>
      </div>

      <br>
      <div class="btn-group special" role="group">
        <button type="button" class="btn btn-secondary btn-lg " onclick="com1()">COM 1</button>
        <button type="button" class="btn btn-secondary btn-lg" onclick="comSwitch()"><i class="bi bi-arrow-left-right"></i></button>
        <button type="button" class="btn btn-secondary btn-lg" onclick="com2()">COM 2</button>
      </div>

      <div class="btn-group special" role="group">
        <button type="button" class="btn btn-secondary btn-lg" onclick="nav1()">NAV 1</button>
        <button type="button" class="btn btn-secondary btn-lg" onclick="navSwitch()"><i class="bi bi-arrow-left-right"></i></button>
        <button type="button" class="btn btn-secondary btn-lg" onclick="nav2()">NAV 2</button>
      </div>

      <div class="btn-group special" role="group">
        <button type="button" class="btn btn-secondary btn-lg" onclick="squawk()">SQUAWK</button>
        <button type="button" class="btn btn-secondary btn-lg" onclick="ident()">IDENT</button>
      </div>
    </div>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="index.js"></script>
   
  </body>
</html>